* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
  background: url("./images/iphone.jpg") center/cover no-repeat;
  max-width: 1495px;
  margin: auto;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

section nav {
  grid-column: 1 / -1;
  padding-top: 27px;
}

section nav ul {
  align-items: center;
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
}

section nav ul .navbar-toggle {
  display: none;
  margin-right: 10px;
}

section nav ul li {
  list-style-type: none;
  font-size: 24px;
  line-height: 33px;
}

section nav ul li a {
  color: white;
  text-decoration: none;
}

section nav ul li:nth-child(6) {
  margin-left: 1.47%;
}

section nav ul li:nth-child(5) {
  margin: 0 1.47%;
}

section nav ul li:nth-child(4) {
  margin: 0 1.47% 0 3.6%;
}

section nav ul li:nth-child(3) a {
  position: relative;
}

section nav ul li:nth-child(3) a i {
  position: absolute;
  left: 125.67px;
  transform: scale(0.88, 0.1666);
}

section nav ul li:last-child {
  font-weight: 500;
  margin-right: 7.2%;
  margin-left: 5.9%;
  width: 105.26px;
  height: 34.83px;
  background-color: #fdc463;
  box-shadow: inset 6.25px -6.25px 6.25px rgba(194, 185, 185, 0.1), inset -6.25px 6.25px 6.25px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 3.40909px;
  color: black;
  padding: auto;
  text-align: center;
}

section nav ul li:last-child a {
  color: black;
}

section nav ul .navbar-logo {
  flex: 1;
  font-size: 25px;
  line-height: 35px;
  margin-left: 6.66%;
}

section .text {
  grid-column: span 2;
  position: relative;
}

section .text .dot {
  height: 55px;
  width: 58px;
  background-color: #fdc463;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

section .text .dot .popup {
  position: absolute;
  top: 50px;
  display: none;
}

section .text .dot .popup.show {
  display: block;
}

section .text .dot .oval {
  position: absolute;
  top: 10px;
  left: 41px;
  width: 131px;
  height: 36px;
  background: white;
  display: inline-block;
  border-radius: 0px 20px 20px 0px;
}

section .text .dot .oval p {
  font-size: 10px;
  width: 99px;
  height: 15px;
  line-height: 14px;
  margin: 10px 19px 10px 13px;
}

section .form {
  grid-column: span 2;
  font-family: 'Inter', sans-serif;
}

@media all and (max-width: 850px) {
  section .navbar ul {
    flex-wrap: wrap;
  }
  section .navbar ul li:last-child {
    width: 105.26px;
    height: 34.83px;
    margin: auto;
  }
  section .navbar ul li:nth-child(3) {
    margin: 0;
  }
  section .navbar ul li:nth-child(4) {
    margin: 0;
  }
  section .navbar ul li:nth-child(5) {
    margin: 0;
  }
  section .navbar ul li:nth-child(6) {
    margin: 0;
  }
  section .navbar ul .navbar-toggle {
    display: block;
  }
  section .navbar ul .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  section .navbar ul .active {
    display: block;
  }
}
