* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: url("./iphone.jpg") center/cover no-repeat;
  max-width: 1495px;
  margin: auto;
}

section nav {
  grid-column: 1 / -1;
}

section nav ul {
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
}

section nav ul .navbar-toggle {
  display: none;
}

section nav ul li {
  list-style-type: none;
}

section nav ul .navbar-logo {
  flex: 1;
}

section .play {
  color: white;
  grid-column: span 3;
  position: relative;
}

section .play .popup {
  position: absolute;
  display: none;
}

section .play .popup.show {
  display: block;
}

section .play i {
  transform: scaleX(2);
}

section .icons {
  grid-column: span 3;
}

section .text {
  grid-column: span 2;
}

section .text .dot {
  height: 55px;
  width: 58px;
  background-color: #fdc463;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

section .text .oval {
  position: absolute;
  top: 10px;
  left: 41px;
  width: 131px;
  height: 36px;
  background: white;
  display: inline-block;
  border-radius: 0px 20px 20px 0px;
}

section .text .oval p {
  font-size: 10px;
  width: 99px;
  height: 15px;
  line-height: 14px;
  margin: 10px 19px 10px 13px;
}

section .arrow {
  grid-column: span 2;
}

section .form {
  grid-column: span 2;
}

@media all and (max-width: 600px) {
  section .navbar ul {
    flex-wrap: wrap;
  }
  section .navbar ul .navbar-toggle {
    display: block;
  }
  section .navbar ul .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  section .navbar ul .active {
    display: block;
  }
}
