* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: url("./iphone.jpg") center/cover no-repeat;
  max-width: 1495px;
  margin: auto;
}

section nav {
  grid-column: 1 / -1;
}

section nav ul {
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
}

section nav ul .navbar-toggle {
  display: none;
}

section nav ul li {
  list-style-type: none;
}

section nav ul .navbar-logo {
  flex: 1;
}

section .play {
  color: white;
  grid-column: span 2;
  position: relative;
}

section .play .popup {
  position: absolute;
  visibility: hidden;
}

section .play .popup.show {
  visibility: visible;
}

section .play i {
  transform: scaleX(2);
}

section .icons {
  grid-column: span 2;
}

section .text {
  grid-column: span 2;
}

section .form {
  grid-column: span 2;
}

@media all and (max-width: 600px) {
  section .navbar ul {
    flex-wrap: wrap;
  }
  section .navbar ul .navbar-toggle {
    display: block;
  }
  section .navbar ul .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  section .navbar ul .active {
    display: block;
  }
}
