* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  section {
    display: grid;
    // grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(249px, 1fr));
    background: url("./images/iphone.jpg") center/cover no-repeat;
    max-width: 1495px;
    margin: auto;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    nav {
      grid-column: 1 / -1;
      padding-top: 27px;
      ul {
        // min-height: 81px;
        align-items: center;
        display: flex;
        width: 100%;
        align-items: center;
        color: rgba(255, 255, 255, 1);
        .navbar-toggle {
          display: none;
          margin-right: 10px;
        }
        li {
          list-style-type: none;
          font-size: 24px;
          line-height: 33px;
          a {
            color: rgba(255, 255, 255, 1);
            text-decoration: none;
          }
        }
        li:nth-child(6) {
          margin-left: 1.47%;
        }
        li:nth-child(5) {
          margin: 0 1.47%;
        }
        li:nth-child(4) {
          margin: 0 1.47% 0 3.6%;
        }
        li:nth-child(3) {
          a {
            position: relative;
            i {
              position: absolute;
              left: 125.67px;
              transform: scale(0.88, 0.1666);
            }
          }
         
        }
        li:last-child {
    font-weight: 500;
    margin-right: 7.2%;
    margin-left: 5.9%;
    width: 105.26px;
height: 34.83px;
    background-color: rgba(253, 196, 99, 1);
    box-shadow: inset 6.25px -6.25px 6.25px rgba(194, 185, 185, 0.1), inset -6.25px 6.25px 6.25px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(12.5px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 3.40909px;
color: black;
padding: auto;
text-align: center;
a {
  color: black;
}

        }
  
        .navbar-logo {
          flex: 1;
          // height: 81px;
          font-size: 25px;
          line-height: 35px;
          margin-left: 6.66%;
        }
      }
    }
    .play {
      color: white;
      grid-column: span 3;
      // flex-shrink: 1;
      i {
        transform: scaleX(2);
      }
    }
    .icons {
      flex-shrink: 0;
      grid-column: span 3;
    }
    .text {
      grid-column: span 2;
      position: relative;
      .dot {
        height: 55px;
        width: 58px;
        background-color: rgba(253, 196, 99, 1);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        .popup {
          position: absolute;
          top:50px;
          display: none;
        }
        .popup.show {
          display: block;
        }
         .oval {
       
        position: absolute;
        top: 10px;
        left: 41px;
        width: 131px;
        height: 36px;
        background: rgba(255, 255, 255, 1);
        display: inline-block;
        border-radius: 0px 20px 20px 0px;
       
        p {
          font-size: 10px;
          width: 99px;
          height: 15px;
          line-height: 14px;
          margin: 10px 19px 10px 13px;
        }
      }
      }
     
    }
    .arrow {
      grid-column: span 2;
    }
    .form {
      grid-column: span 2;
      font-family: 'Inter', sans-serif;
    }
  }
  
  @media all and (max-width: 850px) {
    section {
      .navbar ul {
        flex-wrap: wrap;
        li:last-child {
          width: 105.26px;
height: 34.83px;
margin: auto;
        }
        li:nth-child(3) {
          margin: 0;
          img {
            // left: 60%;
          }
        }
        li:nth-child(4) {
          margin: 0;
        }
        li:nth-child(5) {
          margin: 0;
        }
        li:nth-child(6) {
          margin: 0;
        }
        .navbar-toggle {
          display: block;
        }
        .navbar-links {
          display: none;
          width: 100%;
          text-align: center;
        }
        .active {
          display: block;
        }
      }
    }
  }

  // * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// section {
//       display: grid;
//       grid-template-columns: repeat(6, 1fr);
//     background: url("./iphone.jpg") center/cover no-repeat;
//     max-width: 1495px;
//     margin: auto;
//     nav {
//         grid-column: 1 / -1;
//         ul{
//             display: flex;
//             width: 100%;
//             align-items: center;
//             color: white;
//             .navbar-toggle {
//                 display: none;
//             }
//             li {
//                 list-style-type: none;
//             }
//             li:nth-child(3) {
// position: relative;
// .find {
//     position: absolute;
// }
//             }
            
//             .navbar-logo {
//                 flex: 1;
//             }
//         }
//     }
//     .play{
//         color: white;
//         grid-column: span 3;
//         position: relative;
//         .popup {
//             position: absolute;
//             display: none;
//         }
//         .popup.show {
//             display: block;
//         }
//         i {
//             transform: scaleX(2);
//         }
//     }
//     .icons {
//         grid-column: span 3;
//     }
//     .text {
//         grid-column: span 2; 
//         .dot {
//             height: 55px;
//             width: 58px;
//             background-color: rgba(253, 196, 99, 1);
//             border-radius: 50%;
//             display: inline-block;
//             position: relative;
//           }
//           .oval {
//             position: absolute;
//             top: 10px;
//             left: 41px;
//     width: 131px;
//     height: 36px;
//     background: rgba(255, 255, 255, 1);
//     display: inline-block;
//     border-radius: 0px 20px 20px 0px;
//     p {
//         font-size: 10px;
//         width: 99px;
//         height: 15px;
//         line-height: 14px;
//         margin: 10px 19px 10px 13px;
//     }
//         }
//     }
//     .arrow {
//         grid-column: span 2;
//     }
//     .form {
//         grid-column: span 2;
//     }
  

// }


// @media all and (max-width: 600px) {
//     section {
//         .navbar ul {
//             flex-wrap: wrap;
//             .navbar-toggle {
//                 display: block;
//             }
//             .navbar-links {
//                 display: none;
//                 width: 100%;
//                 text-align: center;
//             }
//             .active {
//                 display: block;
//             }
//         }
//     }
   
//   }
  